
@{
    ViewBag.Title = "About";
}

<img src="~/Images/about2.jpg" class="img-responsive center-block" width="250" />

<div class="row">
    <div class="sb-about-content col-xs-12 col-md-8 col-md-offset-2">
        <p>Shelby's Bible is the culmination of an 11 month effort in 2016 to personally record the Bible as a Christmas present for... you guessed it, Shelby. This website serves as a mechanism to efficiently deliver the audio recordings and also provides the text for each book and chapter. The recordings and the text are both offered in ESV format only. The ESV text is being used with permission through bibles.org and is in full compliance with their requirements in order to do so.</p>
        <p>The length of all the recordings on this site total to over 70 hours. Each chapter of each book of the Bible was personally recorded as part of this project. It is by no means a professional recording, full of variations in sound and pronounciation along the way.</p>
        <p>If you choose to download any of the audio files, be warned this site exists on economy level shared hosting. As such, your download speeds may be extremely limited at times.</p>
        <p>Thanks for reading!</p>
        <p id="contactParagraphPlaceHolder">Contact: </p>         
    </div>
</div>

